* {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .maplibregl-control-container {
  display: none;
} */

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
.mapboxgl-ctrl,
.slick-arrow {
  display: none !important;
}
.slick-dots {
  bottom: 0 !important;
}
/* .slick-dots li button {
  color: purple !important;
} */
.rdrCalendarWrapper {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.rdrDefinedRangesWrapper {
  margin-top: 10px;
}
